<div #gameCard (mouseenter)="mouseEnterGameCard()" (mouseleave)="mouseLeaveGameCard()" class="group relative w-full h-full">
  <div class="w-full h-full text-white bg-grey-800 overflow-hidden rounded-2xl shadow-md scale-100 hover:absolute hover:scale-105 hover:h-auto hover:z-20 transition-transform duration-300">
    <app-game-card-media [is-card-hovered]="isCardHovered"
                         [game-name]="game.name"
                         [background-image]="game.background_image"
                         [game-clip]="game.clip"
                         [screenshots]="game.short_screenshots">
    </app-game-card-media>
    <div class="p-4">
      <div *ngIf="game.parent_platforms || game.metacritic" class="flex justify-between items-center mb-2">
        <app-game-card-platform-list *ngIf="game.parent_platforms" [parent-platform-list]="game.parent_platforms"></app-game-card-platform-list>
        <app-game-card-metacritic-score *ngIf="game.metacritic" [metacritic-score]="game.metacritic"></app-game-card-metacritic-score>
      </div>
      <a [routerLink]="[gameRouterLink, game.slug]" class="text-2xl font-semibold hover:text-grey-300" [ngClass]="{'duration-200': isCardHovered}">{{game.name}}</a>
      <div class="hidden group-hover:block">
        <app-game-card-details [release-date]="game.released" [genres-list]="game.genres" [tag-list]="game.tags"></app-game-card-details>
        <app-game-card-show-more-button [game-slug]="game.slug"></app-game-card-show-more-button>
      </div>
    </div>
  </div>
</div>
