<div class="flex flex-col items-center text-white">
  <h1>4<span><i class="fas fa-ghost"></i></span>4</h1>
  <h2 class="text-3xl">Error: 404 Page not found</h2>
  <p class="text-2xl font-thin mt-2">Sorry, the page you're looking for cannot be accessed</p>
  <a [routerLink]="baseRouterLink" class="group text-4xl font-thin mt-5 underline decoration-0 decoration-grey-300 underline-offset-4 hover:text-grey-300 transition-colors duration-200">
    <i class="text-3xl mr-2.5 fa-solid fa-arrow-left-long transition-transform duration-200 group-hover:-translate-x-2"></i>Back to Main Page
  </a>
</div>
