<div class="flex items-center gap-3 mb-3">
  <div *ngIf="releaseDate" class="bg-white text-black text-xs uppercase tracking-[2px] rounded-[4px] px-[7.5px] py-[2px]">{{getFormattedReleaseDate(releaseDate)}}</div>
  <fa-icon *ngFor="let platform of platforms"
           [icon]="getPlatformIcon(platform.platform.slug)"
           class="text-white text-lg pt-0.5"
  ></fa-icon>
  <div *ngIf="playtime" class="text-white text-xs font-light uppercase tracking-[2px] pt-0.5">AVERAGE PLAYTIME: {{playtime}} HOURS</div>
</div>
