$ghost-color: #33c948;

h1 {
  font-size: 6rem;
  letter-spacing: .10em;
  margin: .025em 0;
  text-shadow: .05em .05em 0 rgba(0,0,0,.25);
  white-space: nowrap;

  & > span {
    animation: spooky 1.5s alternate infinite linear;
    color: $ghost-color;
    display: inline-block;
  }
}

@keyframes spooky {
  from {
    transform: translatey(.15em) scaley(.95);
  }

  to {
    transform: translatey(-.15em);
  }
}
