<ng-container *ngIf="gamePosts$ | async as gamePosts">
  <app-game-partition-wrapper>
    <app-scroll-down-emitter (scroll-down)="loadMoreGamePostsOnScrollDown()"></app-scroll-down-emitter>
    <div *ngFor="let post of gamePosts">
      <app-game-post [game-post]="post"></app-game-post>
    </div>
    <ng-container *ngIf="!(gamePostsLoading$ | async) && (gamePostsNextPage$ | async)">
      <app-load-more-button *ngIf="gamePostsNextPage$ | async as nextPage"
                            #loadMoreButton
                            (load-more-button-clicked)="loadMoreGamePosts(nextPage)"
      ></app-load-more-button>
    </ng-container>
    <app-loading-spinner *ngIf="gamePostsLoading$ | async"></app-loading-spinner>
  </app-game-partition-wrapper>
</ng-container>
