<div *ngIf="gameDetails$ | async as game" class="flex flex-col gap-8">
  <div class="flex gap-8">
    <div class="w-3/5">
      <app-game-section-info [game]="game"></app-game-section-info>
    </div>
    <div class="w-2/5">
      <app-game-section-media [game]="game"></app-game-section-media>
    </div>
  </div>
  <div class="flex flex-col gap-8 pb-8">
    <app-game-suggestions [game]="game"></app-game-suggestions>
    <app-game-achievements [game]="game"></app-game-achievements>
    <app-game-videos [game]="game"></app-game-videos>
  </div>
</div>
