<ng-progress [fixed]="true" [spinner]="false" [color]="'#33c948'"></ng-progress>
<div class="absolute w-screen h-screen top-0 left-0 -z-10 opacity-25 app-background">
<!--  <img *ngIf="imageUrl$ | async as imageUrl" [src]="imageUrl" alt="" class="w-full h-full object-cover">-->
</div>
<div class="min-h-screen h-full overflow-y-auto scrollbar px-4 lg:px-8">
  <app-header></app-header>
  <div class="flex">
    <app-sidebar></app-sidebar>
    <div class="flex-grow">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
