<div *ngIf="gameDetails$ | async as game">
  <app-scroll-up-button></app-scroll-up-button>
  <app-game-details-header [release-date]="game.released"
                           [play-time]="game.playtime"
                           [platforms]="game.parent_platforms"
  ></app-game-details-header>
  <div class="relative">
    <app-page-title [title]="game.name + ' ' + currentBreadcrumbs"></app-page-title>
    <a [routerLink]="[gameRouterLink, game.slug]"
       class="hidden xl:inline absolute -left-12 top-1/2 -translate-y-1/2 text-white text-3xl"
    >
      <fa-icon [icon]="getLongArrowLeftIcon()"></fa-icon>
    </a>
  </div>
  <div class="flex flex-col-reverse lg:flex-row gap-4 lg:gap-8">
    <div class="w-full lg:w-4/5">
      <ng-content></ng-content>
    </div>
    <div class="w-full lg:w-1/5">
      <app-game-partition-wrapper-sidebar [game]="game"></app-game-partition-wrapper-sidebar>
    </div>
  </div>
</div>
