<app-game-details-header [release-date]="game.released"
                         [play-time]="game.playtime"
                         [platforms]="game.parent_platforms"
></app-game-details-header>
<app-page-title [title]="game.name"></app-page-title>
<div class="flex flex-col gap-5">
  <app-game-description [description]="game.description"
                        [description-raw]="game.description_raw"
  ></app-game-description>
  <app-game-info [game]="game" [game-series]="gameSeries$ | async"></app-game-info>
</div>
