<ng-container *ngIf="gameAchievements$ | async as gameAchievements">
  <app-game-partition-wrapper>
    <app-scroll-down-emitter (scroll-down)="loadMoreAchievementsOnScrollDown()"></app-scroll-down-emitter>
    <div *ngFor="let achievement of gameAchievements">
      <app-game-achievement [achievement]="achievement"></app-game-achievement>
    </div>
    <ng-container *ngIf="!(gameAchievementsLoading$ | async) && (gameAchievementsNextPage$ | async)">
      <app-load-more-button *ngIf="gameAchievementsNextPage$ | async as nextPage"
                            #loadMoreButton
                            (load-more-button-clicked)="loadMoreAchievements(nextPage)"
      ></app-load-more-button>
    </ng-container>
    <app-loading-spinner *ngIf="gameAchievementsLoading$ | async"></app-loading-spinner>
  </app-game-partition-wrapper>
</ng-container>
