<app-scroll-down-emitter (scroll-down)="loadMoreGamesOnScrollDown()"></app-scroll-down-emitter>
<app-backend-error-message *ngIf="gamesError$ | async as gameError" [error]="gameError"></app-backend-error-message>
<ng-container *ngIf="gamesList$ | async as gameList">
  <app-card-list>
    <app-game-card *ngFor="let game of gameList" [game]="game"></app-game-card>
  </app-card-list>
  <ng-container *ngIf="!(gamesLoading$ | async) && (gamesNextPage$ | async)">
    <app-load-more-button #loadMoreButton *ngIf="gamesNextPage$ | async as nextPageUrl"
                          (load-more-button-clicked)="loadMoreGames(nextPageUrl)">
    </app-load-more-button>
  </ng-container>
</ng-container>
<ng-container *ngIf="gamesLoading$ | async">
  <app-loading-spinner></app-loading-spinner>
</ng-container>
