<div #sidebarElement
     class="mr-4 py-4 pl-4 sm:pl-0 w-52 bg-grey-900 sm:bg-transparent overflow-y-auto z-30 fixed top-0 left-0 sm:sticky sm:left-auto -translate-x-full sm:translate-x-0 border-r border-grey-300 border-opacity-50 sm:border-none will-change-transform transition-transform ease-in-out duration-200 sidebar"
     [ngStyle]="{height: defineSidebarHeight()}"
>
  <a [routerLink]="gamesRouterLink" class="font-bold capitalize text-2xl text-white block mb-3 hover:text-grey-400 transition-colors duration-200 underline underline-offset-4 decoration-0 decoration-grey-300">All Games</a>
  <ng-container [ngTemplateOutlet]="gameCollectionsTemplate"></ng-container>
  <ng-container [ngTemplateOutlet]="browseListTemplate"></ng-container>
  <ng-container *ngFor="let entity of sidebarEntities">
    <ng-container *ngIf="getEntityViewModelByEntityType(entity) | async as viewModel"
                  [ngTemplateOutlet]="entityListTemplate"
                  [ngTemplateOutletContext]="{entityType: entity, entityList: viewModel.list, loading: viewModel.isLoading, error: viewModel.error}">
    </ng-container>
  </ng-container>
</div>
<button type="button"
        (click)="sidebarElement.classList.toggle('opened')"
        class="sm:hidden fixed z-30 right-4 top-4 w-9 h-9 rounded-full bg-white text-lg text-grey-800 shadow-md shadow-grey-800"
>
  <fa-icon [icon]="getSidebarControlButtonIcons(sidebarElement.classList.contains('opened'))"></fa-icon>
</button>

<ng-template #entityListTemplate let-entityType="entityType" let-entityList="entityList" let-loading="loading" let-error="error">
  <app-sidebar-list-title [entity-list-title]="entityType"></app-sidebar-list-title>
  <app-sidebar-list-wrapper *ngIf="entityList">
    <app-sidebar-entity-list [entity-list]="filterEntityListAccordingToMainEntitiesByEntityType(entityList, entityType)"
                             [entity-type]="entityType">
    </app-sidebar-entity-list>
  </app-sidebar-list-wrapper>
  <app-sidebar-entity-list-loading *ngIf="loading" [entity-type]="entityType"></app-sidebar-entity-list-loading>
  <app-sidebar-entity-list-error *ngIf="error" [entity-type]="entityType"></app-sidebar-entity-list-error>
</ng-template>

<ng-template #browseListTemplate>
  <a [routerLink]="browseRouterLink" class="font-bold capitalize text-2xl text-white block mb-3 hover:text-grey-400 transition-colors duration-200 underline underline-offset-4 decoration-0 decoration-grey-300">Browse</a>
  <app-sidebar-list-wrapper>
    <app-sidebar-browse-list></app-sidebar-browse-list>
  </app-sidebar-list-wrapper>
</ng-template>

<ng-template #gameCollectionsTemplate>
  <app-sidebar-list-title [entity-list-title]="'Collections'"></app-sidebar-list-title>
  <app-game-collection-list></app-game-collection-list>
</ng-template>
