<div *ngFor="let gameCollection of gameCollections">
  <a [routerLink]="[gameCollectionRouterLink, gameCollection]"
     [routerLinkActive]="'active'"
     class="group flex items-center gap-2 mb-2 text-white font-light"
  >
    <div class="w-8 h-8 flex items-center justify-center rounded-lg text-white bg-grey-700 group-hover:text-grey-800 group-hover:bg-white transition-colors duration-200">
      <fa-icon [icon]="getGameCollectionIconBySlug(gameCollection)"></fa-icon>
    </div>
    <span class="capitalize">{{defineGameCollectionTitle(gameCollection)}}</span>
  </a>
</div>
