<a [href]="gamePost.url" target="_blank" class="group flex gap-4 py-4 h-full border-b border-grey-300 border-opacity-30">
  <div class="w-[120px] h-[70px]" style="min-width: 120px">
    <img *ngIf="gamePost.image"
         [src]="gamePost.image"
         [alt]="'game post preview'"
         class="w-full h-[70px] object-cover rounded-md"
    >
    <div *ngIf="!gamePost.image" class="w-full h-full flex justify-center items-center rounded-md text-2xl text-grey-300 bg-grey-800 group-hover:bg-white group-hover:text-grey-800 transition-colors duration-200">
      <fa-icon [icon]="getUndefinedImageIcon()"></fa-icon>
    </div>
  </div>
  <div>
    <div [innerHTML]="isNeedToSlicePostName ? getSlicedPostName(gamePost.name) : gamePost.name"
         class="text-white font-semibold group-hover:text-grey-300 transition-colors duration-200"
    ></div>
    <div class="text-grey-300 text-sm font-light">
      <span>{{getFormattedReleaseDate(gamePost.created)}}</span>
      <span> • </span>
      <span>{{normalizeUserName(gamePost.username)}}</span>
    </div>
  </div>
</a>
