@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import '~ngx-toastr/toastr';

.app-select {
  @apply shadow-md;
  width: 180px;
  border-radius: 0.75rem;

  &.ng-select-focused {
    .ng-select-container {
      box-shadow: none !important;
    }
  }

  .ng-select-container {
    border: none;
    border-radius: 0.75rem;
    color: #888888 !important;
    background-color: #2b2b2b;

    &.ng-has-value {
      background-color: #fff;
      color: #202020 !important;
    }
  }

  .ng-dropdown-panel {
    border: none;
    border-radius: 0 0 0.75rem 0.75rem;
    background-color: #2b2b2b;

    .ng-dropdown-panel-items {
      border-radius: 0 0 0.75rem 0.75rem;

      .ng-option {
        background-color: #2b2b2b;
        color: #888888;
        border-top: 1px solid rgba(136, 136, 136, 0.3);

        &:hover {
          background-color: rgba(136, 136, 136, 0.3);
        }
      }
    }
  }

  .ng-placeholder {
    color: #888888 !important;
  }

  .ng-arrow-wrapper {
    position: relative;

    .ng-arrow {
      position: absolute !important;
      top: -7px;
      right: 12px;
      width: 9px !important;
      height: 9px !important;
      border: 2px solid;
      border-color: transparent #888888 #888888 transparent;
      transform: rotate(45deg);
    }
  }

  .ng-clear-wrapper {
    color: #888888 !important;
  }

  &.ng-select-opened {

    .ng-select-container {
      background-color: #2b2b2b;

      &.ng-has-value {
        color: #888888 !important;
      }
    }

    .ng-dropdown-panel {

      .ng-dropdown-panel-items {

        .ng-option {

          &:hover {
            color: #888888 !important;
          }
        }
      }
    }

    .ng-arrow-wrapper {
      position: relative;

      .ng-arrow {
        position: absolute !important;
        top: -1px;
        right: 12px;
        width: 9px !important;
        height: 9px !important;
        border: 2px solid;
        border-color: transparent #888888 #888888 transparent;
        transform: rotate(-135deg) !important;
      }
    }
  }
}

.ngx-toastr {
  box-shadow: 0 0 15px 10px rgba(0,0,0,0.75) !important;
  width: 100% !important;
  max-width: 500px !important;
  border-radius: 10px !important;
  word-break: break-all !important;
  margin-bottom: 12px !important;
}

html {
  background-color: #151515;
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #333333;
    border-radius: 30px;
  }
}
