@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import '~ngx-toastr/toastr';

.ngx-toastr {
  box-shadow: 0 0 15px 10px rgba(0,0,0,0.75) !important;
  width: 500px !important;
  border-radius: 10px !important;
}

html {
  background-color: #151515;
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #333333;
    border-radius: 30px;
  }
}
